@import url("colors.css");

.streaming-container {
    background: var(--stream-card-color);
    margin: 0 2%;
    border-radius: 5px;
    padding: 10px;
    width: 96%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
}

iframe {
    flex: 1 0 auto;
}
.video-container {
    flex: 9 0 auto;
    aspect-ratio: 16 / 9;
}

.chat {
    min-height: 97%;
    max-height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: end;

    margin: 7px;
    border-radius: 5px;
    padding: 20px;
    background: var(--stream-card-color);
    box-shadow: 0 0 10px var(--shadow-color);
}

.chat-messages {
    flex: 29 0 auto;
	min-height:93%;
	max-height:93%;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-messages__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
	padding:1px;
    min-height: 100%;
}

.chat__message {
    flex: 0 0 auto;
    padding-left: 10px;
    margin-bottom: 10px;
	border-left:3px solid #334;
	margin-top:2px;
    font-size: 16px;
    color: rgba(200, 200, 200, 0.8);
}

.chat__message > p {
    font-size: 14px;
}

.chat-input {
    flex: 1 0 auto;
	min-height:6%;
}
input {
    font-family: arial, serif;
	font-size:16px;
	vertical-align:middle;
	background:#333;
	color:#fff;
	border:0;
	display:inline-block;
	margin:1px;
	height:30px;
}

.chat-form__input {
	width:75%;
}

.chat-form__submit {
	width:18%;
}

textarea {
    background: var(--button-color);
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid var(--nav-border-color);
}