{% extends 'minimalistic.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stream.css') }}">
{% endblock %}

{% block title %}
    {{ streamer }} | Chat
{% endblock %}

{% block minimalistic_content %}
    <style>
        {{ chat_styles }}
    </style>
    <script type="module">
        window.formatter = (window, msg) => {
            {{ chat_formatter|safe }}
            return msg;
        };
        {{ chat_initializer|safe }}
    </script>
	 <div class='chat'>
            <div class='chat-messages'>
                <div class='chat-messages__content' id='messages'>
                    Загрузка...
                </div>
            </div>
            <div class='chat-input'>
                {% if authenticated  %}
                    <form method='post' id='chat-form' onsubmit="send_message('{{ streamer }}'); return false;">
                        <textarea id='message-text' class='chat-form__input' placeholder='Введите сообщение' onkeypress='if (event.key === "Enter" && !event.shiftKey) {event.preventDefault();send_message("{{ streamer }}");}'></textarea>
                        <input type='submit' class='chat-form__submit' value='Send'>
                    </form>
                {% endif %}
            </div>
            <script type="module" src="{{ url_for('static', filename='js/stream.js') }}"
                    onload="update_chat('{{ streamer }}')"></script>
     </div>
{% endblock %}