{% extends 'base.html' %}

{% block title %}
    Streams
{% endblock %}

{% block content %}
    <div class="container">
    {% if streams == [] %}
        <h1 class="nostreams">No live streams available</h1>
    {% else %}
         <ul class="streams">
        {% for stream in streams %}
             <li class="stream_card">
                 <div class="card_container">
                     <a>{{ stream.streamer }} is now live!</a>
                     <h1>{{ stream.name }}</h1>
                 </div>
                <a class="btn" href="/{{ stream.streamer }}">Watch live</a>
             </li>
        {% endfor %}
         </ul>
    {% endif %}
    </div>
    <div class="after_container"></div>
{% endblock %}