{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block title %}
    {{ User }} | Profile
{% endblock %}

{% block content %}
    <dialog class="container dialog" id="change-password" onsubmit="window.change_password('{{ url_for('api.update_user_password') }}')">
        <div class="row">
            <h2>Change Password</h2>
            <img class="img-btn" src="{{ url_for('static', filename='img/cross.svg') }}" alt="Close Password Change Dialog"
                 width="25" height="25" onclick="document.getElementById('change-password').open = false;">
        </div>
        <form method="dialog" name='change_password'>
            <label class="row">
                Current Password:
                <input type="password" name="old_password" placeholder="Current Password" required>
            </label>
            <label class="row">
                New Password:
                <input type="password" name="new_password" placeholder="New Password" required>
            </label>
            <div class="row">
                <div class="btn">
                    <input type="submit" value="Change Password">
                </div>
            </div>
        </form>
    </dialog>
    <dialog class="container dialog" id="verify-bot" onsubmit="window.verify_bot('{{ url_for('api.user_bots_list') }}');">
        <div class="row">
            <h2>Add Bot</h2>
            <img class="img-btn" src="{{ url_for('static', filename='img/cross.svg') }}" alt="Close Add Bot Dialog"
                 width="25" height="25" onclick="document.getElementById('verify-bot').open = false;">
        </div>
        <form method="dialog" name='verify-bot'>
            <input type="hidden" name="bot_username" required>
            <label class="row">
                Bot Password:
                <input type="password" name="bot_password" placeholder="Bot Password" required>
            </label>
            <div class="row">
                <div class="btn">
                    <input type="submit" value="Verify">
                </div>
            </div>
        </form>
    </dialog>
    <dialog class="container dialog" id="add-bot" onsubmit="window.add_bot('{{ url_for('api.bot_create') }}', '{{ url_for('api.user_bots_list') }}');">
        <div class="row">
            <h2>Add Bot</h2>
                <img class="img-btn" src="{{ url_for('static', filename='img/cross.svg') }}" alt="Close Add Bot Dialog"
                     width="25" height="25" onclick="document.getElementById('add-bot').open = false;">
        </div>
        <form method="dialog" name='add-bot'>
            <label class="row">
                Bot Username:
                <input type="text" name="bot_username" placeholder="Bot Username" required>
            </label>
            <label class="row">
                Bot Password:
                <input type="password" name="bot_password" placeholder="Bot Password" required>
            </label>
            <div class="row">
                <div class="btn">
                    <input type="submit" value="Create Bot">
                </div>
            </div>
        </form>
    </dialog>

    <script type="module" src="{{ url_for('static', filename='js/user.js') }}"
            onload="get_bots('{{ url_for('api.user_bots_list') }}');
                    window.img ={
                        cross: '{{ url_for('static', filename='img/cross.svg') }}',
                        reload: '{{ url_for('static', filename='img/reload.svg') }}',
                        token: '{{ url_for('static', filename='img/token.svg') }}',
                    };
                    window.api = {
                        bot_remove: '{{  url_for("api.bot_remove") }}',
                        bot_get_token: '{{  url_for("api.bot_get_token") }}',
                        bot_regenerate_token: '{{  url_for("api.bot_regenerate_token") }}',
                    };"></script>

    <div class="container">
        <label class="row">
            Username:
            <input type="text" name="username" value="{{ user.username }}" placeholder="Username" readonly>
            <img class="img-btn" src="{{ url_for('static', filename='img/pencil.svg') }}" alt="Change Username Button"
                 width="25" height="25" onclick="username_change('{{ url_for("api.update_user_username") }}')">
        </label>
        <label class="row">
            Email:
            <input type="email" name="email" value="{{ user.email }}" placeholder="Email" readonly>
            <img class="img-btn" src="{{ url_for('static', filename='img/pencil.svg') }}" alt="Change Email Button"
                 width="25" height="25" onclick="email_change('{{ url_for("api.update_user_email") }}')">
        </label>
        <div class="row">
            <div class="btn" onclick="document.getElementById('change-password').open = true;">Change password</div>
        </div>

        <div style="height: 50px"></div>
        {% if is_streamer %}
            <script type="module" src="{{ url_for('static', filename='js/streamer.js') }}" onload="
                    get_token('{{ url_for('api.get_token') }}');
                    window.stream_name_uri = '{{ url_for('api.update_profile_stream_name') }}';
                    "></script>

            <h1>Streamer Menu:</h1>
            <label class="row">
                Streaming key:
                <input type="password" name="streaming_key" readonly>
                <img class="img-btn" src="{{ url_for('static', filename='img/view.svg') }}" alt="Toggle Streaming Key Button"
                     width="25" height="25" onclick="toggle_key()">
                <img class="img-btn" src="{{ url_for('static', filename='img/reload.svg') }}" alt="Regenerate Streaming Key Button"
                     width="25" height="25" onclick="regenerate_token('{{ url_for('api.regenerate_token') }}'); get_token('{{ url_for('api.get_token') }}')">
            </label>
            <div class="row">
                <a class="btn" href="{{ url_for('static', filename='cert/server.crt') }}">TLS Certificate</a>
            </div>
            <div style="height: 50px"></div>

            <form name="stream" style="width: 100%">
                <label class="row">
                    Stream name:
                    <input type="text" placeholder="Stream name" name="stream_name"
                           value="{{ profile.stream_name }}" onchange="window.changes.push('name')">
                </label>
                <div class="row">
                    <div class="btn">
                        <input type="submit" name="update_stream_data" value="Update">
                    </div>
                </div>
            </form>
        {% else %}
             <div class="row">
                <div class="btn" onclick="create_profile()">Become a streamer</div>
            </div>
            <script>
                function create_profile() {
                    fetch('{{ url_for('api.create_profile') }}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: '{"stream_name": "My first stream"}'
                    }).then(resp => resp.json())
                        .then(data => {
                            if (data.ok)
                                location.reload();
                            else
                                alert(data.error);
                        });
                }
            </script>
        {% endif %}

        <div style="height: 50px"></div>

        <h1>Bots:</h1>
        <ul id="bots">

        </ul>
        <div class="row">
            <div class="btn" onclick="document.getElementById('add-bot').open = true;">Add Bot</div>
        </div>


        <div style="height: 50px"></div>
        <div class="row">
            <div class="btn" onclick="log_out('{{ url_for('api.logout') }}', '{{ url_for('main.index') }}', '{{ csrf_token() }}')">Log Out</div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
{% endblock %}