{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stream.css') }}">
{% endblock %}

{% block title %}
    {{ streamer }} | {{ title }}
{% endblock %}

{% block content %}
    <div class="streaming-container">
        <iframe class="video-container" src="{{ live_path }}/{{ path }}" scrolling="no" allowfullscreen></iframe>
        <div class='chat'>
            <div class='chat-messages'>
                <div class='chat-messages__content' id='messages'>
                    Загрузка...
                </div>
            </div>
            <div class='chat-input'>
                <form method='post' id='chat-form' onsubmit="send_request('{{ streamer }}', '{{ streamer }}'); return false;">
                    <input type='text' id='message-text' class='chat-form__input' placeholder='Введите сообщение'>
                    <input type='submit' class='chat-form__submit' value='=>'>
                </form>
            </div>
            <script src="{{ url_for('static', filename='js/chat.js') }}"
                    onload="update_chat('{{ streamer }}')"></script>
        </div>
    </div>
{% endblock %}