{% extends 'default.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stream.css') }}">
{% endblock %}

{% block title %}
    {{ streamer }} | {{ stream_name }}
{% endblock %}

{% block content %}
    <div class="streaming-container">
        <iframe class="video-container" src="{{ live_path }}/{{ path }}" scrolling="no" allowfullscreen></iframe>
        <iframe src="{{ url_for('main.stream_chat', streamer=streamer) }}" scrolling="no"></iframe>
    </div>
{% endblock %}